* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(rat-2.jpg);
  /* background: url(rat-2.jpg) center; */
  background-size: cover;
  margin: 0 auto;
}

.text-cont {
  position: relative;
}

.divBtn {
  display: flex;
  margin-top: 500px;
  margin-bottom: 100px;
  margin-left: 400px;
}

h2 {
  margin-left: 150px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 140, 190);
  color: #6d344f;
  font-size: 50px;
  margin-top: 20px;
  text-align: center;
  width: 1500px;
  border-radius: 20px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 200px;
  height: 100px;
  margin-left: 200px;
  margin-bottom: 50px;

  border-radius: 10px;
  font-size: 40px;
  border: none;
  box-shadow: 10px 13px 10px 0px #df3c88;
  background-color: rgba(214, 126, 167, 1);
}

/* .yes-btn {
  margin-left: 300px;
} */

.no-btn:hover {
  position: absolute;
  left: 50%;
  right: 50%;
  /* transition: 00.09s; */
}
.yes-btn:hover {
  position: absolute;
  font-size: 100px;
  width: 400px;
  height: 200px;
}
